@import "tailwindcss";

@theme {
    --font-sans: "DM Sans", sans-serif;
    --font-mono: "Space Mono", seif;
}

body {
    @apply bg-green-100 font-sans;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.draggable {
    app-region: drag;
    --webkit-app-region: drag;
}
._container {
    @apply bg-green-300 p-3 rounded-xl border-1 border-green-400;
}
._button {
    @apply bg-green-300 py-0.5 px-1.5 rounded-lg font-medium border-1 border-green-600 cursor-pointer transition-[background] duration-100 hover:bg-green-400;
}
/* scrollbar */

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: var(--color-green-200);
}

::-webkit-scrollbar-thumb {
    background: var(--color-green-500);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-green-600);
}